@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainGreen: #168500;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}


/* --------------- Navbar ---------------- */
.bg-light {
	background-color: #f8f9fa !important;
	box-shadow: 0px 0px 30px;
}

.container-fluid {
	width: 85%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

#item_part .col-md-2 {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 14.286%;
}
#item_part {
	margin-top: 20px;
	margin-top: 114px;
	padding-top: 20px;
}
.productItem{
    width: 100%;
    text-align: center;
}
.content{
    width: 100%;
}

.wi input{
    width: 90% !important;
}
.content ul li{
	padding-left: 10px;
	padding-right: 10px;;
}

.content{
  width: 100%;
}
.form-inline .form-control {
	display: inline-block;
	width:80% ;
	vertical-align: middle;
}
.nav-item a{
  font-size: 20px;
}
.margin{
  margin-left: 197px;
}

.cart-items {
	position: absolute;
	top: -5px;
	left: 101px;
	background: var(--primaryColor);
	padding: 0 1px;
	border-radius: 21%;
  color: var(--mainWhite);
  
}
  /* --------------- End of Navbar ---------------- */
  
/* --------------- Hero ---------------- */
.hero {
    min-height: calc(100vh - 60px);
    background: url("./images/hero-bcg.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
  }
  .banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
  }
  .banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--primaryColor);
    color: var(--mainBlack);
    border: 1px solid var(--primaryColor);
    transition: var(--mainTransition);
    cursor: pointer;
  }
  .banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  .banner-btn2 {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    font-size: 1rem;
    background: var(--mainGreen);
    color: var(--mainBlack);
    border: 1px solid var(--mainGreen);
    transition: var(--mainTransition);
    cursor: pointer;
    margin-top: 5px;
  }
  .banner-btn2:hover {
    background: transparent;
    color: var(--primaryColor);
  }
  
  /* --------------- End of Hero ---------------- */
  
/* --------------- Products ---------------- */

.products {
    padding: 4rem 0;
  }
  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
  .img-container {
    position: relative;
    overflow: hidden;
  }
  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(100%);
    cursor: pointer;
  }
  .bag-btn:hover {
    color: var(--mainWhite);
  }
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }
  .img-container:hover .bag-btn {
    transform: translateX(0);
  }
  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
  }
  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing: var(--mainSpacing);
    color: var(--primaryColor);
    text-align: center;
  }
  
  /* ---------------End of Products ---------------- */
  /* --------------- Cart ---------------- */
  .cart-overlay2 {
    position: fixed;
    top: 392px;
    right: 0;
    width: 272;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    /* visibility: hidden; */
  }
  .cart2 {
    position: fixed;
    top: 392px;
    right: 0;

    cursor: pointer;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    /* transform: translateX(100%); */
  }
  .cart2 h2{
    position: relative;
  }
  .basketCount {
    position: absolute;
    right: 36px;
    background: var(--primaryColor);
    border: none;
    text-transform: uppercase;
  
    letter-spacing: var(--mainSpacing);
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(41%);
    top: -24px;
  }

.cart-overlay {
    position: fixed;
    top: 392px;
    right: 0;
    width: 272;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    
  }
  .cart {
    position: fixed;
    top: 110px;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    display: none;
  }
  .showCart {
    transform: translateX(0);
  }
  .transparentBcg {
    visibility: visible;
  }
  @media screen and (min-width: 768px) {
    .cart {
      width: 13vw;
      min-width: 335px;
      
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }
  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 2rem;
  }
  /*---------- Cart Item -------------------- */
  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
  }
  .cart-item img {
    width: 75px;
    height: 75px;
  }
  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
  }
  .cart-item h5 {
    margin: 0.5rem 0;
    letter-spacing: var(--mainSpacing);
  }
  .item-amount {
    text-align: center;
  }
  .remove-item {
    color: grey;
    cursor: pointer;
  }
  .fa-chevron-up,
  .fa-chevron-down {
    color: var(--primaryColor);
    cursor: pointer;
  }
  /*---------- End of Cart Item -------------------- */
  
  .cart-footer {
    margin-top: 2rem;
    letter-spacing: var(--mainSpacing);
    text-align: center;
  }
  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  /* --------------- End of Cart ---------------- */

  /* --------------- checkout page -------------- */
  .shippingPage-title{
    background-color: bisque;
    padding:2px 0px ;
    margin-bottom:30px ;
    margin-top: 128px;

  }
  .shippingPage-title h2{
    padding: 12px 16px;
  }
  .fill-section{
    background-color: bisque;
  }
  .number-section .group, .country-section .group, .area-section .group{
    width: 49%;
    padding:2px 16px;
    
  }
  .table td{
    
    border-top: none;
  }
  .table tr:last-child td{
    border-top: 1px solid black;
  }
  .summary{
    padding: 2px 12px;
    background-color: bisque;
    position: sticky;
    top: 200px;
    margin-left: 70px;

  }
/* ---------- wishList part ------------ */

.wishList {
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  
}


.wishList-title{
  margin-top: 116px;
  background-color: blanchedalmond;
}


.wishList-title h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  padding: 30px 0px 12px 0px;
}
/*---------- Cart Item -------------------- */
.wishList-item {
  display: grid;
  
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.wishList-item img {
  width: 215px;
  height: 215px;
}
.wishList-item h3 {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.wishList-item h4 {
  margin: 1.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.reviewList span{
  color: grey;
}
.oldPrice{
  font-size: 16px;
  padding-left:20px ;
  color: grey;
}
.remove-item {
  color: grey;
  cursor: pointer;
}


